* {
  box-sizing: border-box;
  /*border: 1px dashed grey;*/
}
.sides {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}
.left {
  float: left;
  background-color: lightyellow;
  width: 50%;
  height: 100%;
}
.top-left {
  width: 50%;
  height: 100px;
  background-color: lightyellow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.bottom-left {
  width: 50%;
  height: 100px;
  background-color: lightyellow;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.right {
  float: left;
  background-color: tan;
  width: 50%;
  height: 100%;
}
.top-right {
  width: 50%;
  height: 100px;
  background-color: tan;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
.bottom-right {
  width: 50%;
  height: 100px;
  background-color: tan;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

body {
  display: flex;
  justify-content: center;
}

.nav {
  height: 50px;
}

.header {
  height: 200px;
}

.grid {
  height: 600px;
}

.footer {
  height: 100px;
}
.container {
  background-color: white;
  width: 80%;
  max-width: 1150px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.col-4 {
  float: left;
  width:20%;
  height: 300px;
  border: 1px dashed grey;
  margin: 6.5%;
}
.col-4:first-child {
  margin-top: 11%;
}
.col-4:last-child {
  margin-top: 15%;
}
@media screen and (max-width:900px){
  .col-4 {
    width: 30%;
  }
  .col-4:last-child {
    width: 60%;
    height: 130px;
    margin: 0px !important;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:575px){
  .col-4 {
    width: 70% !important;
    float: none;
    margin: 20px !important;
    height: 300px !important;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 1020px;
  }
  .bottom-left, .bottom-right, .top-right, .top-left {
    display: none;
  }
  .container {
    background-color: transparent !important;
  }
}
